
.container {
  max-width: 800px;
  margin: 0 auto;
}

.van-details {
  max-width: 600px;
  // padding: 50px;
  padding-top: 50px;

  .van_description {
    font-size: 14px;
    margin: 30px 0px;
  }

  .address {
    font-size: 15px;
  }
}

.image-van {
  img {
    height: 200px ;
    max-width: 600px;
  }
}

.van-review-content {
  width: 200px;
  margin: 0 0 1em 0;
  overflow: hidden;
}


.van-reviews {
  .van-reviews-card {
    height: 173px;
  }
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.flexxingIsLive {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.form-wrapper {
  width: 150%;
  margin-left: 30%;
}

@media(min-width: 768px) {
  .image-van {
    img {
      height: 300px ;
    }
  }
  .van-review-content {
    width:600px;
  }

  .flexxingIsLive {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.image-van {
    width: 45vw;
  }

  .card-product {
    overflow: hidden;
    height: 120px;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
  }

  .card-product img {
    height: 100%;
    width: 120px;
    object-fit: cover;
  }

  .card-product h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }

  .card-product p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }

  .card-product .card-product-infos {
    padding: 16px;
  }

  .swek-flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swek-flex2 {
    display: flex;
    margin-top: 5%;
  }

  .swek-right {
    width: 40%;
  }

  .swek-left {
    width: 60%;
    margin-right: 10%;
  }

  .van-description {
    margin-top: 10%;
  }

  .swek-container {
    width: 80%;
    margin: 0 auto;
  }

  .swek-reviews {
    margin-top: 10%;
    margin-bottom: 30%;
  }

  @media(max-width: 1030px) {
    .swek-flex2 {
      display: block;
    }

    .swek-reviews {
      margin-top: 5%;
      margin-bottom: 10%;
    }

    .swek-left {
      width: 100%;
    }

    .swek-right {
      width: 100%;
    }
  }

@media(min-width: 1030px) {
  .image-van {
    img {
      height: 500px ;
    }
  }

  .flexxingIsLive {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
