
.container {
  max-width: 800px;
  margin: 0 auto;
}

.van-details {
  max-width: 600px;
  // padding: 50px;
  padding-top: 50px;

  .van_description {
    font-size: 14px;
    margin: 30px 0px;
  }

  .address {
    font-size: 15px;
  }
}

.image-van {
  img {
    height: 200px ;
    max-width: 600px;
  }
}

.van-review-content {
  // overflow: hidden;
  // text-overflow: ellipsis;
  // white-space: nowrap;
  // width:200px;


  width: 200px;
  margin: 0 0 1em 0;
  overflow: hidden;
}


.van-reviews {
  .card-product {
    height: 173px;
  }
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}


@media(min-width: 768px) {
  .image-van {
    img {
      height: 300px ;
    }
  }
  .van-review-content {
    width:600px;
  }
}

@media(min-width: 1030px) {
  .image-van {
    img {
      height: 500px ;
    }
  }
}
