
.van-details {
  max-width: 600px;
  padding: 50px;

  .van_description {
    font-size: 12px;
    margin: 30px 0px;
  }

  .address {
    font-size: 15px;
  }
}

.image-van {
  img {
    height: 200px ;
  }
}



@media(min-width: 768px) {
.image-van {
  img {
    height: 300px ;
  }
}
}

@media(min-width: 1030px) {
.image-van {
  img {
    height: 500px ;
  }
}
}
