
<div class="container">
  <div class="mb-5">
    <h1>My bookings</h1>
  </div>

<!-- This is the upcoming plans section -->
  <div class="upcoming-plans mb-5">
    <div class="mb-4">
      <h3>Upcoming plans</h3>
    </div>

    <% if @futur_booking.empty? %>
      <p> You have no upcoming trips. Start exploring ideas for your next trip</p>
      <p class="btn-van-list"> <%= link_to "Explore Vans", vans_path  %></p>

    <% else  %>
      <% @futur_booking.each do |booking| %>
        <div class="">
          <%= render "shared/booking_card", booking: booking  %>
          <br>

        </div>
       <% end %>
    <% end %>
  </div>


<!-- This is the past plans section -->
  <div class="past-plans">
    <div class="mb-4">
      <h3>Where you have been</h3>
    </div>

    <% if @past_booking.empty? %>
      <p> you have no past bookings</p>

    <% else  %>

      <% @past_booking.each do |booking| %>
        <%= render "shared/booking_card", booking: booking    %>
        <br>
    <% end %>
  <% end %>
  </div>
</div>
