<div class="banner">
  <div class="banner-content">
    <h1>CamperFinder</h1>
    <h4>You're journey awaits</h4>
    <div class="btn-van-list">
      <%= link_to "Find your van", vans_path%>
    </div>
  </div>
</div>
