<div class="banner">
  <div class="banner-content">
    <h1>CamperFinder</h1>
    <h4>You're journey awaits</h4>
    <div>
      <input type="submit" value="Find my van" class="btn-van-list">
    </div>
  </div>
</div>
<br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br>
