  .image-van {
    width: 45vw;
  }

  .van-summary {
  position: relative;
}

.van-summary-avatar {
  position: absolute;
  right: 0px;
  top: 0px;
}

  .card-product {
    overflow: hidden;
    height: 120px;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
  }

  .card-product img {
    height: 100%;
    width: 120px;
    object-fit: cover;
  }

  .card-product h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }

  .card-product p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }

  .card-product .card-product-infos {
    padding: 16px;
  }

  .swek-flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swek-flex2 {
    display: flex;
    margin-top: 5%;
  }

  .swek-right {
    width: 40%;
  }

  .swek-left {
    width: 60%;
    margin-right: 10%;
  }

  .van-description {
    margin-top: 10%;
  }

  .swek-container {
    width: 80%;
    margin: 0 auto;
  }

  .swek-reviews {
    margin-top: 10%;
    margin-bottom: 30%;
  }

  @media(max-width: 1030px) {
    .swek-flex2 {
      display: block;
    }

    .swek-reviews {
      margin-top: 5%;
      margin-bottom: 10%;
    }

    .swek-left {
      width: 100%;
    }

    .swek-right {
      width: 100%;
    }
  }
